body {
    font-family: Arial;
    background-color: #f4f4f4; /* light grey background */
    text-align: center;        /* center all text */
}

h1 {
    background-color: #2c3e50; /* dark blue header */
    color: white;               /* text white */
    padding: 20px;
}

h2 {
    color: #2c3e50;             /* dark blue */
}

p {
    color: #333;                /* dark grey */
    margin-bottom: 20px;        /* spacing between paragraphs */
}body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
button {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #f39c12; /* hover orange */
}
/* Logo */
#logo {
    width: 150px;      /* width adjust karo */
    height: auto;      /* height automatically adjust ho jayega */
    display: block;
    margin: 0 auto 10px auto; /* center + thoda bottom space */
}
/* Products Section */
.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.product {
    text-align: center;
}

.product img {
    width: 200px;   /* adjust according to image size */
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}
a {
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #f39c12;
    text-decoration: underline;
}
p {
    line-height: 1.6;
}